/* .guest_bg{
    --background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-medium))
} */

.flex_col_container {
    display: flex;
    flex-direction: column;
    height: 100%;
 }

 .spinner_color{
    /* --background: var(--ion-color-dark); */
    --spinner-color: var(--ion-color-primary);
    /* background-color: var(--ion-color-primary); */
    /* #d8d9db */
 }

