/* .login_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
} */

/* .login{
    --background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-medium));
} */

/* ion-card-title{
    font-size: x-large;
    font-weight: bold;
} */

/* .image{
    width: 70px;
} */

/* .image_position{
    text-align: center;
    text-align: -webkit-center;
} */
